{% extends 'news/base.html' %}
{% load static %}
{% block title %}  Foydalanuvchi parolini tiklash{% endblock %}
{% block content %}

<h1>Parolni tiklash</h1>
<p>Parolingizni tiklash uchun email adresingizni kiriting:</p>
    {% if validlink  %}
        <p>Iltimos yangi parolni ikki marotaba kiriitng</p>
        <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Siz noto'gri linkdan foydalanfingiz, u avvalroq foydalangan bulishi va ishlatilish vaqti o'tib ketgan</p>
    {% endif %}
{% endblock content %}